streamlit==1.28.1
pandas>=2.2.0
sqlalchemy>=2.0.30
psycopg2-binary>=2.9.10
pymysql==1.1.0
reportlab==4.0.7
python-dotenv==1.0.0
passlib[bcrypt]==1.7.4
cryptography>=42.0.5
altair>=5.0.0
pyarrow>=14.0.1
pillow>=10.0.0
plotly>=5.17.0